* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  padding: 1rem 1rem 1rem 18rem;
  background-color: #5F4DEE;
  display: flex;
  align-items: center;

}

.logo {
  height: 48px;
  width: 48px;
  border: 3px solid #fff;
  font-weight: bolder;
  font-size: medium;
  color: #fff;
  padding: 0.6rem;
}

.logoName {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.container {
  max-width: 940px;
  margin: 0 auto;

}

.newsContainer {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;

}

.newsContainer li {
  padding: 1rem 2rem;
  border: 2px solid rgba(136, 136, 136, 0.933);
  margin-bottom: 5px;
  border-radius: 5px;
}

.newsContainer a {
  display: block;

}

.url {
  display: block;
  font-size: 0.9rem;
  color: #6A5AEF;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 6px;
  font-weight: 400;
}

.author {
  padding: 6px 0 5px 0;
  color: #6F69A0;
}

.author span {
  font-weight: bold;
}

.title {
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  padding-bottom: 6px;
  color: black;
}

.form {
  position: relative;

}

.input {
  padding: 12px 90px 10px 20px;
  margin-left: 175px;
  width: 100%;
  display: block;
  border-radius: 22px;
  background-color: #f3f3f3cf;
  color: #000;
  border: none;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 10%);
}

.subBtn {
  position: absolute;
  border-radius: 33px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  top: 0px;
  right: -173px;
  padding: 10px 25px;
  z-index: 2;
}