* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  padding: 1rem 1rem;
  background-color: #5F4DEE;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 940px;
  margin: 0 auto;

}

.newsContainer {
  margin-top: 2rem;
  list-style: none;

}

.newsContainer {}